body {
	background-color: grey;
	background-image: url('../images/paper_bg.png');
	background-attachment: fixed;
	background-size: cover;
}



.selectionText{
	color: sandybrown;
	font-size: 18px;
	font-family: "Work Sans", sans-serif;
	text-shadow: greenyellow;
	text-align: center;
}


p {
	color: black;
	font-family: sans-serif;
	font-size: 1.7rem;
}

h1 {
	color: black;
	font-family: cursive;
}


.bodyText{
	text-align: center;
	color: black;
	text-shadow: greenyellow;
}


.box {
	background: transparent;
	padding: 100px;
	margin: 100px;
}

.Absolute-Center {
	height: 160px;
	margin: 0 auto;
}


.container {
	background: darkslategrey;
}



