body {
	background-color: grey;
	background-image: url('../images/paper_bg.png');
	background-attachment: fixed;
	background-size: cover;
	font-family: monospace;
	font-size: 14px;
}


.spacer {
	background: transparent;
	margin: 75px;
}


.bannerContainer {
	background: transparent;
	width: 70%;
	margin: 0 auto;
	max-width: 700px;
	min-width: 400px;
}

.bannerText{
	color: black;
	font-size: 18px;
	font-family: monospace;
	text-align: center;
}

a {
	color: black;
}
a:hover {
	color: dimgrey;
	text-decoration: none;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}


.bodyContainer{
	background: transparent;
	text-align: left;
	width: 50%;
	margin-left: 250px;
	margin-right: 250px;
	max-width: 700px;
	min-width: 400px;
}







.navbar {
  overflow: hidden;
  background-color: #333;
}

/* Navigation links */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The subnavigation menu */
.subnav {
  float: left;
  overflow: hidden;
}

/* Subnav button */
.subnav .subnavbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/* Add a red background color to navigation links on hover */
.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: red;
}

/* Style the subnav content - positioned absolute */
.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: red;
  width: 100%;
  z-index: 1;
}

/* Style the subnav links */
.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
}

/* Add a grey background color on hover */
.subnav-content a:hover {
  background-color: #eee;
  color: black;
}

/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
  display: block;
}











