.body{
    background-image:img src: ("images/paper_bg.png");
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

#titleASDF{
	color: blue;
}

.bodyText1{
	color: mediumpurple;
}

.bodyText2{
	text-align: center;
	color: orangered;
	text-shadow: greenyellow;
}

