.About{
    background-color: grey;
    min-height: 60vh;
    padding-bottom: 10vh;
    border: 1px red solid;

    }

.aboutGrid {
    display: flex;
    flex-direction: column;
    border: 1px yellow solid;
    padding: 0 5% 0 5%;

}

.aboutImages{
    /* border: 4px teal solid; */
    display: flex;
    /* justify-content: flex-end; */
    width: 50%;
    justify-content: center;
    border: 1px blue solid;
}

.aboutText{
    border: 1px red solid;
    width: 90%;
}



.aboutImages img{
    /* display: flex; */
    /* flex-direction: column; */
    width: 50%;
    height: auto;
    /* border: 5px white solid; */
}


