


.Navbar{
  z-index: 1;
  display: flex;
  justify-content: space-evenly;
  background-color: grey;
  position: sticky;
  top: 0;
}


/* .Navbar-logo {
  height: 10vmin;
  pointer-events: none;
  border: red solid 1px;
} */

.Navbar-options {
  /* background-color: #282c34; */
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #61dafb;
}

a:link{
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.Navbar-link {
  color: #61dafb;
}